allow vold system_data_file:file open;
allow vold vold_data:dir rw_dir_perms;
allow vold vold_data:file { rw_file_perms create_file_perms };

#========== multiboot/efidroid ==========#
allow vold init_multiboot:blk_file { ioctl open read write };
#neverallow reject: allow vold system_data_file:file { ioctl unlink write };
